# Python cache files
__pycache__/
*.py[cod]

# Spyder project files
.spyproject/
.spyderproject
.spyderworkspace

# Virtual environments
.venv/
venv/
env/

# Operating-system files
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files
*.bak
*~